.contact-div{

    background-color: black;
    padding: 30px 20px;
    color: #B83344;
    margin-top: 75px;
    margin-bottom: 0;
    font-family: 'Ubuntu', sans-serif;
    padding: 20px 400px;
    text-align: center;
}