.nav-bar {
    height: 75px !important;
}

.custom-nav a {
    text-decoration: none;
    font-size: larger;
    font-weight:600;
    padding: 15px;
    color: white !important;
    border-radius: 0px;
    border: 1px solid black;
}

.custom-nav a:hover {
    background-color: white;
    color: black !important;
    border: 1px solid lightgray;
}
.custom-nav a:focus {
    background-color: white;
    color: black !important;
}
